<div class="bui-page" id="accountinfo">
    <header class="bui-bar">
        <div class="bui-bar-left">
            
            <a class="bui-btn" onclick="bui.back()"><i class="icon-back"></i></a>
        </div>
        <div class="bui-bar-main">账户详情</div>
        <div class="bui-bar-right">
            
        </div>
    </header>
    <main>
        <div class="acinfo_top">
        	<p>{{c5}}元</p>
        	<p>{{c1}}</p>
        </div>
        <div class="acinfo_bottom">
        	<ul class="formbox diff">
                <li>
                    <em>房源</em>
                    <div class="linebox" style="text-align:right">{{c10}}</div>
                </li>
                <li>
                    <em>租客</em>
                    <div class="linebox">{{c11}}</div>
                </li>
        		<li v-if="tsz == 2">
        			<em>交易银行</em>
        			<div class="linebox">{{c3}}</div>
        		</li>
                <li>
                    <em>交易时间</em>
                    <div class="linebox">{{c4}}</div>
                </li>
                <li v-if="tsz == 1">
                    <em>交易房间</em>
                    <div class="linebox" style="text-align:right">{{c9}}</div>
                </li>

				<li>
        			<em>交易方式</em>
        			<div class="linebox">{{c6}}</div>
        		</li>
        		<li>
        			<em>交易状态</em>
        			<div class="linebox">{{c2}}</div>
        		</li>
                <li v-if="c2 == '完成'">
                    <em>完成时间</em>
                    <div class="linebox">{{c12}}</div>
                </li>
        		<li v-if="tsz == 2">
        			<em>手续费</em>
        			<div class="linebox">{{c8}}元</div>
        		</li>
                <li v-if="tsz == 2">
                    <em>实际到账</em>
                    <div class="linebox">{{c13}}元</div>
                </li>
        	</ul>
        </div>
    </main>
    <footer>
        
    </footer>
</div>
<style>#accountinfo .formbox li{justify-content:space-between;padding-right:.3rem;border:none}.diff li em{color:#999}.diff li:first-child{background-color:#fff;color:#333}.diff li:first-child em{color:#999}</style>