<div class="bui-page" id="setpw">
    <header class="bui-bar">
        <div class="bui-bar-left">
            
            <a class="bui-btn" onclick="bui.back()"><i class="icon-back"></i></a>
        </div>
        <div class="bui-bar-main">修改密码</div>
        <div class="bui-bar-right">
            
        </div>
    </header>
    <main>
       <ul class="formbox">
      		<li><em>注册手机号</em><div class="linebox">
      			<input type="text" name="" placeholder="请输入手机号码" v-model="tel"></div></li>
      		<li><em>短信验证码</em><div class="linebox">
      			<input type="text" name="" placeholder="请输入验证码" v-model="yzmun">
            <div class="yzma" id="send">发送验证码</div>
          </div></li>
      		<li><em>设置新密码</em><div class="linebox">
      			<input type="text" name="" placeholder="设置新密码" v-model="newpassword">
      		</div></li>	
      		<li><em>确认新密码</em><div class="linebox">
      			<input type="text" name="" placeholder="确认新密码" v-model="newpassword1">
      		</div></li>			
       </ul>
    </main>
    <footer>
        <div class="setpwbtn" @click="editpassword()">    
        	<div>确定</div>
        </div>
    </footer>
</div>
<style>#setpw .formbox li:first-child{background:#fff}#setpw .formbox li:first-child em{color:#333}#setpw .formbox li em{width:1.6rem}.setpwbtn{display:flex;display:-webkit-flex}.setpwbtn div{width:100%;height:1rem;line-height:1rem;text-align:center;font-size:.3rem}.setpwbtn div:first-child{background:#eeeff1;color:#333}.setpwbtn div:last-child{background:#27cda1;color:#fff}.yzma{position:absolute;right:0;font-size:.3rem;color:#27cda1;top:.3rem;right:.3rem}</style>